body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header section */
.header-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 5% 5%;
    border-radius: 20px;
    background-color: black;
}

.header-title {
    margin: 1% 10%;
    padding: 2% 0;
}

.header-title h1,
p {
    color: white;
}

header button {
    background-color: tomato;
    padding: 10px 0;
    width: 40%;
    border: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 4%;
    color: white;
}

@media screen and (max-width: 660px) {
    .header-section {
        display: block;
    }

    header button {
        width: 50%
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    header button {
        width: 50%
    }
}

/* matches section */
section {
    display: flex;
    margin: 5% 5%;
    column-gap: 2%;
}

.match-menu {
    height: 220px;
    background-color: black;
    border-radius: 10px;
    padding: 2% 2%;
}

.match-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.matches {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-bottom: 3%;
}

.matches h4 {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}

.matches p {
    color: black;
}

.match-button {
    background-color: white;
    padding: 20px 22px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
    margin: 2% 0;
    color: black;
    transition-duration: 0.3s;
}

.match-button:hover {
    background-color: tomato;
    color: white;
}

.icon span {
    padding: 0 2%;
}

.matches img {
    width: 100%;
}

#view-button {
    display: none;
}

@media only screen and (max-width: 576px) {
    section {
        display: grid;
    }

    .match-menu {
        background: none;
    }

    .match-blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width:577px) and (max-width: 992px) {
    section {
        display: grid;
    }

    .match-menu {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        background: none;
    }

    .match-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5%;
    }

    #view-button {
        display: block;
        width: 20%;
        margin: auto;
    }
}

/* footer */

footer {
    background-color: black;
    height: 350px;
    text-align: center;
}

hr {
    background-color: gray;
    margin: 0 10%;

}

footer h1 {
    color: white;
    padding-top: 5%;
    padding-bottom: 2%;
}

.footer-menu {
    padding-top: 5%;
    color: white;
}

.footer-menu span {
    margin: 2% 2%;
}

@media screen and (max-width: 660px) {
    .footer-menu span {
        display: block;
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}